<!doctype html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>


<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>Sign in demo!</title>
<!-- Bootstrap core CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">

<!-- Custom styles for this template -->
<link href="signin.css" rel="stylesheet">
<style>
</style>
</head>

<body class="text-center">


	<header>
		<!-- Fixed navbar -->
		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
			<a class="navbar-brand" href="#">My Blog</a>

			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarCollapse" aria-controls="navbarCollapse"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav mr-auto">
					<div sec:authorize="hasRole('ROLE_ADMIN')">
						<li class="nav-item"><a class="nav-link" href="/admin">Admin
								panel</a></li>
					</div>
					<li class="nav-item">
              			<a class="nav-link" href="/">Go home</a>
            		</li>
					<div sec:authorize="!isAuthenticated()">
						<li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
					</div>

					<div sec:authorize="isAuthenticated()">
						<li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
					</div>

					
					<div sec:authorize="!isAuthenticated()">
						<li class="nav-item"><a class="nav-link disabled"
							href="/registerform">Register</a></li>
					</div>
				</ul>
	
				<div>
					<form class="form-inline mt-2 mt-md-0">
						<input class="form-control mr-sm-2" type="text"
							placeholder="Search" aria-label="Search">
						<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
					</form>
				</div>
			</div>
		</nav>
	</header>


	<!-- Begin page content -->
	<main role="main" class="container">
		
		<h1 class="mt-5">My blog</h1>
	<div>
		<form class="form-signin text-center" th:action="@{/myblog}" method="post" th:object="${post}">
			<h1 class="h3 mb-3 font-weight-normal">New post</h1>
			<label class="sr-only">Title</label>
			<input type="text" class="form-control" placeholder="Title" th:field="*{title}" required autofocus>
			
			<label  class="sr-only">Content</label>
			<textarea  rows = "20" cols = "80" th:field = "*{content}" >... </textarea>
<!-- 			<input type="text" class="form-control" placeholder="Content" th:field="*{content}" required autofocus> -->
			<input type="hidden" th:field="*{author}" th:value="${user}">
			<button class="btn btn-lg btn-primary btn-block" type="submit">Save post
							</button>
		</form>
	</div>
	<div>
<!-- 	<table> -->
		<a th:each="post : ${userPosts}" th:remove="tag">
			<div>
				<h5 th:text="${post.title}">...</h5>
				<p th:text="${post.content}">...</p>
				<p th:text="${post.created}">...</p>
				<hr>
			</div>
		</a>
<!-- 	</table> -->
</div>
	</main>

				
<!-- 			<div th:text="${#strings.substringBefore(#authentication.name, '#')}">The value of the "name" property of the authentication object should appear here.</div> -->



	<footer class="footer">
		<div class="container">
			<span class="text-muted">Dupa dupa</span>
		</div>
	</footer>


</body>
</html>