<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>


<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>Sign in!</title>
<!-- Bootstrap core CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">

<!-- Custom styles for this template -->
<link href="signin.css" rel="stylesheet">
<style>
</style>
</head>

<body class="text-center">

	<header>
		<!-- Fixed navbar -->
		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
			<a class="navbar-brand" href="#">Menu</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarCollapse" aria-controls="navbarCollapse"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav mr-auto">

					<li class="nav-item"><a class="nav-link" href="/">Go home</a>
					</li>
					<li class="nav-item"><a class="nav-link disabled"
						href="/admin">admin panel</a></li>
					<li class="nav-item"><a class="nav-link disabled"
						href="/logout">sign out</a></li>
				</ul>
				<form class="form-inline mt-2 mt-md-0">
					<input class="form-control mr-sm-2" type="text"
						placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
				</form>
			</div>
		</nav>
	</header>

	<div class="jumbotron vertical-center">
		<div class="container">
			<div class="row">
				<div class="col-lg-4"></div>
				<div class="col-lg-4">
					<form class="form-signin text-center" >
						<h1 class="h3 mb-3 font-weight-normal">Edit user</h1>

						<label for="inputEmail" class="sr-only">First name</label> <input
							type="email" id="inputEmail" class="form-control"
							placeholder="Fisrt name" required autofocus> </label> <label
							for="inputEmail" class="sr-only">Second name</label> <input
							type="email" id="inputEmail" class="form-control"
							placeholder="Second" required autofocus> </label> <label
							for="inputEmail" class="sr-only">Email address</label> <input
							type="email" id="inputEmail" class="form-control"
							placeholder="Email address" required autofocus>
				</div>
				</br>
				<button class="btn btn-lg btn-primary btn-block" type="submit"
					action="">Confirm</button>

				 <input type="button" class="btn btn-lg btn-primary btn-block" value="Cancel" onclick="location.href = '/admin';">
				<p class="mt-5 mb-3 text-muted">&copy; Bitch please</p>
				</form>
				
				<div class="col-lg-4"></div>
			</div>
		</div>
	</div>
	</div>



</body>
</html>